<link rel="stylesheet" href="/css/style.css" />

<div class="form-container">
  <h1>Register</h1>
  <form action="/register" method="POST" class="form-card">
    <input type="text" name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button>Register</button>
    <a href="/">⬅ Back</a>
  </form>
</div>
