<link rel="stylesheet" href="/css/style.css" />

<div class="form-container">
  <h1>Submit Your Secret</h1>
  <form action="/submit" method="POST" class="form-card">
    <textarea
      name="secret"
      placeholder="Write your secret..."
      required
    ></textarea>
    <button>Submit</button>
    <a href="/secrets">⬅ Back</a>
  </form>
</div>
