* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.calculator {
    width: 40rem;
    max-width: 100%;
    margin: 5rem auto;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
}

.calculator-input {
    width: 100%;
    height: 7rem;
    font-size: 4rem;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 0 2rem;
}

button {
    height: 5rem;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
    font-size: 2.5rem;
    color: #333;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    grid-area: span 2;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
}