<!DOCTYPE html>
<html>
  <head>
    <title>API Authentication</title>
  </head>
  <body>
    <h1>Authenticated API Result</h1>

    <p><strong><%= quote.quote %></strong></p>
    <p>- <%= quote.author %></p>
  </body>
</html>
