<link rel="stylesheet" href="/css/style.css" />
<form action="/login" method="POST">
  <input name="email" placeholder="Email" />
  <input name="password" type="password" placeholder="Password" />
  <button>Login</button>
</form>
