h1 {
  text-align: center;
}

p {
  font-size: 24px;
  font-weight: bold;
}

/* Colour classes */
.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.purple {
  color: purple;
}
