body {
  font-family: Arial, sans-serif;
  background-color: #011f3f;
  color: white;
  text-align: center;
  margin-top: 100px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
