<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <h2>Register</h2>

    <form method="POST">
      <input name="email" placeholder="Email" required />
      <input name="password" type="password" placeholder="Password" required />
      <button>Register</button>
    </form>
  </body>
</html>
