<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header>
      <h1>My Website</h1>
      <hr />
    </header>
  </body>
</html>
