@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #23003b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: #3c2058;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    border-radius: 10px;
}

.pw-header {
    padding: 1rem;
    text-align: center;
}

.pw {
    background-color: #554466;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pw button {
    background-color: white;
    border: none;
    color: #1d0238;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #a47e00;
    border: none;
    color: #2a0033;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 5px;
}

.generate:hover {
    background-color: #826400;
}

.generate:hover {
    background-color: #7f5d00;
}