.flag {
  width: 300px;
  height: 200px;
  background-color: red;
  position: relative;
}

.blue {
  width: 100%;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 50px;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 100px;
}
