<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>

    <a href="/">⬅ Back to Home</a>
  </body>
</html>
