body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
  text-align: center;
}

form {
  margin: 15px;
}

input,
select,
button {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #ff7b00;
  color: white;
  cursor: pointer;
}

svg {
  width: 80%;
  margin-top: 30px;
  background: white;
}
