.grid-layout {
  display: grid;
  height: 100vh;

  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr 60px;

  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.grid-layout header {
  grid-area: header;
}

.grid-layout aside {
  grid-area: sidebar;
}

.grid-layout main {
  grid-area: main;
}

.grid-layout footer {
  grid-area: footer;
}

.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.flex-layout aside {
  width: 250px;
}
