<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ product.name }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>{{ product.name }}</h1>
    </header>

    <div class="container">
      <div class="product-detail">
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p>{{ product.description }}</p>
        <a class="btn" href="/">⬅ Back</a>
      </div>
    </div>
  </body>
</html>
