<link rel="stylesheet" href="/css/style.css" />
<form action="/register" method="POST">
  <input name="email" placeholder="Email" />
  <input name="password" type="password" placeholder="Password" />
  <button>Register</button>
</form>
