body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.add-form input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
  width: 600px;
  margin: 30px auto;
}

.task-list li {
  background: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.task-list li.done span {
  text-decoration: line-through;
  color: gray;
}

.edit-form input {
  width: 120px;
  padding: 5px;
}
